:root {
	/* COLORS */
	/* Primary */
	--color-primary-1: #ff7a7a;
	--color-primary-2: #38cc8c;

	/* Accent */
	--color-accent: #6055a5;

	/* Neutral */
	--color-neutral-dark: #3e3c49;
	--color-neutral-light: #b9b6d3;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body,
body *,
body *::after,
body *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	line-height: 1;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 100vh;
	color: #fff;
	background-color: var(--color-primary-1);
	background-image: url(../public/images/bg-intro-mobile.png);
}

.header {
	text-align: center;
	width: 100%;
	max-width: 52.5rem;
	padding: 5.25em 1.5em 4em;
}

.header > .title {
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 1.2857;
	letter-spacing: -0.29px;
	margin-bottom: 0.5714em;
}
.header > .content {
	line-height: 1.625;
}

.container-main {
	text-align: center;
	width: 100%;
	max-width: 54rem;

	padding: 0 2.4rem 6.8rem;
}

.pricing-container {
	width: 100%;
	max-width: 54rem;
	background-color: var(--color-accent);
	border-radius: 0.625em;
	box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);

	padding: 1.125em 4.1875em;
	margin-bottom: 1.5em;
}

.pricing-content {
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1.7333;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	width: 100%;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);

	padding: 2.4rem;
}

input[type='text'] {
	width: 100%;
	height: 5.6rem;
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: 600;
	color: #000;
	opacity: 0.75;
	padding-left: 1.2666em;
	border: solid 1px #dedede;
	border-radius: 0.3125em;
	outline: none;
}

input::placeholder {
	color: var(--color-neutral-dark);
}

input[type='text']:focus {
	border: solid 1px var(--color-accent);
	caret-color: var(--color-accent);
}

.terms {
	font-size: 1.1rem;
	line-height: 1.909em;
	color: var(--color-neutral-light);
}

.terms > strong {
	color: var(--color-primary-1);
}

.footer {
	font-size: 1.2rem;
	padding-bottom: 2em;
}
